/* #footer-container{
    background-image: linear-gradient(#040404, #6800ff);
}*/

#footer-bottom{
    border-style: solid;
  border-width: medium;
  border-image: linear-gradient(black, #6800ff);;
} 

footer{
   background-image: linear-gradient(black, #6800ff);
}