<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/ticket.css">
    <title>Tickets</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #212529;">
          <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color: azure;" href="../view/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: azure;" href="#">Candy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: azure;" href="../view/funciones.html">Funciones</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      
      <div class="container-fluid" id="venta"></div>
      
      <div class="container-fluid" id="contexto">
        <div class="col-md-12">
          <h3 class="text-center">
              Comprar Tickets
          </h3>
          <div class="row justify-content-center">
            <div class="input-group mb-3 w-50">
              <span class="input-group-text justify-content-center" id="basic-addon1">Usuario</span>
              <input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" id="usuario">
              <span class="input-group-text justify-content-center" id="basic-addon1">Tickets</span>
              <input type="text" class="form-control" placeholder="Cantidad" aria-label="Username" aria-describedby="basic-addon1" id="cantidad">
              <button id="boton-compra" type="button" class="btn btn-success mx-auto" >
                Comprar
              </button>
            </div>
          </div>
      </div>
      </div>


      <div class="alert alert-primary alert-dismissible fade show mt-auto" id="mensaje" style="visibility: hidden;" role="alert">
        <!-- No disponemos de la cantidad de entradas solicitadas para esta función
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
      </div>



      <footer class="bg-dark text-center text-white mt-auto">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-twitter"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fa fa-instagram"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white">Cine GBA</a>
        </div>
        <!-- Copyright -->
      </footer>
    <script type="module" src="../js/ventainit.js"></script>
    <script type="module" src="../js/eventos/venderTickets.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script><script type="module" src="../js/services/fetchServices.js"></script>
</body>
</html>